.compareTable {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.compareTable td,
.compareTable th {
  text-align: center;
  padding: 0 16px;
}

.compareTable tr {
  height: 40px;
}

.compareTable td:first-child,
.compareTable th:first-child {
  text-align: left;
}

.compareTable tr:nth-child(2) ~ tr td:not(:first-child) {
  font-size: 2em;
}
