:root {
  --book-box-color-name-dark: #292d34;
  --book-box-color-name-blue: #558efc;
  --book-box-color-name-blue-light: #598cef;
  --book-box-color-name-blue-dark: #507ac9;
  --book-box-color-name-blue-sky: #65b0ed;
  --book-box-color-name-cyan: #5bb6c1;
  --book-box-color-name-red: #bc514a;
  --book-box-color-name-red-light: #de6d77;
  --book-box-color-name-green-light: #99c27c;
  --book-box-color-name-orange-light: #d0996a;
  --book-box-color-name-orange-dark: #ac885b;
  --book-box-color-name-yellow-light: #e4bf7f;
  --book-box-color-name-yellow: #e9c062;
  --book-box-color-name-violet-light: #c57bdb;
  --plate: rgba(255, 255, 255, 0.1);
}

body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  border: none;
  min-height: 100vh;
  background: linear-gradient(
    37deg,
    var(--book-box-color-name-yellow),
    var(--book-box-color-name-green-light),
    var(--book-box-color-name-cyan),
    var(--book-box-color-name-blue)
  );
  background-repeat: no-repeat;
}
